.admin-edit:hover {
    cursor: pointer;
    border: 1px solid red;
}

.admin-button {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 30%;
    border: 1px dashed gray;
    color: rgb(14, 69, 84);
    background-image: linear-gradient(90deg,gray ,rgb(82, 79, 79) 30%);
}

.admin-button > span {
    margin-left: 5px;
}

.admin-button > p {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    color: rgb(237, 98, 98);
    animation: alert 4s ease-out infinite alternate;
}

.admin-button > button {
    border: none;
    background-color: rgb(12, 228, 156);
    padding: 1em;
    color: rgb(41, 93, 112);
    transition: color .5s;
}

.admin-button > button:hover {
    color: rgb(18, 58, 72);
}

@keyframes alert {
    0% {
        color: rgb(161, 35, 35);
    }

    10% {
        color: rgb(237, 98, 98);
    }
}
